# pip requirements file

pip >= 19.0.1
# cutie >= 0.2.2
empath >= 0.89
nltk >= 3.4

# NLTK tokenizer needs the 'punkt' package. 
# Download using the following python commands:
# >>> import nltk
# >>> nltk.download('punkt')

