# pip requirements file

# Scholastic Pull:
-r "Scholastic Pull/requirements.txt"

# JournalANA:
-r "JournalANA/requirements.txt"

# Label Helper:
-r "Label Helper/requirements.txt"

# Train Labels:
-r "TrainLabels/requirements.txt"

# Likely needed in future:
# nltk