# pip requirements file

# Scholastic Pull:
-r "Scholastic Pull/requirements.txt"

# JournalANA:
-r "JournalANA/requirements.txt"


# Likely needed in future:
# pyQT5
# sklearn
# pandas???
# numpy
# nltk